@font-face {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    src: local("Yeseva One"), url("../fonts/YesevaOne-Regular.woff") format("woff");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Nunito Sans"), url("../fonts/NunitoSans_7pt-Regular.woff") format("woff");
}